*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(33, 37, 41);
}

p{
  color: rgb(255, 255, 255);
  line-height: 1;
  padding: 4px;
}

.texto{
  color: rgb(255, 255, 255);
  line-height: 1;
  padding: 4px;
}

.logo{
  width: 100px;
  position: relative;
}

.menu {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenedor */
  align-items: center; /* Centra verticalmente el contenedor */
  margin: 20px;
}

.menu ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li{
  list-style: none;
}

.menu a{
  padding-top: 15px;
  position: relative;
  color: white;
  margin: 0 15px;
  text-decoration: none;  /*Borro el subrayado */
  letter-spacing: 1px;
  font-weight: 600;
}

.menu li a:hover{
  color: #b0965a;
  border-top: #b0965a 1px solid;
}
/* Estilos para el video */
.video {
  width: 100%;
  max-height: 600px; 
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.video video {
  width: 100%;
  height: 100%;
}
  
.imagen-top{
    width: 100%;
    max-height: 600px; 
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

.imagen-top img{
  width: 100%;
  height: 100%;
}

.titulo{
  color: #b0965a;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.formulario{
  width: auto;
  margin: 10px 50px 10px 50px;
  padding: 20px;
  border: #b0965a 2px solid;
  border-radius: 10px;
}

.container-fluid h2 {
  color: #b0965a;
  align-items: center;
  margin: 20px;
}

.modelo_img img {
  width: 350px;
  height: auto;
  border: #b0965a 2px solid;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 1rem;
  flex-direction: column;
}
.footer .redes{
  text-align: center;
}

.footer .redes a {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.footer img{
  width: 30px;
}

.footer .texto {
  text-align: center;
}