$dorado: #b0965a;

main{
    .video{
        width: 100%;
        max-height: 600px; 
        overflow: hidden;
        display: flex; 
        justify-content: center; 
        align-items: center;
        video{
            width: 100%;
            height: 100%;
        }
    }

    .imagen-top{
        max-height: 600px; 
        overflow: hidden;
        display: flex; 
        justify-content: center; 
        align-items: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .titulo{
        color: $dorado;
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
    }
    .parrafo{
        color: #ffffff;
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
        p{
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
    }
    .contenedorModelos{
        .modelo{
            .textoModelo{
                .titulo2{
                    font-size: 22px;
                    color: $dorado;
                    align-items: center;
                    margin: 20px;
                }
                p{
                    font-size: 18px;
                    color: #ffffff;
                    line-height: 1.6;
                    padding: 3px;
                }
            }
            .modeloImg{
                img{
                    width: 350px;
                    height: auto;
                    border: $dorado 2px solid;
                    border-radius: 10px;
                    margin-top: 35px;
                }
            }
        }
    }
    .titulo2{
        color: white;
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
        border-top: $dorado 2px solid;
        border-bottom: $dorado 2px solid;
    }
    .seccionAlquilar{
        .alquilar{
            align-items: center;
            a{
                color: white;
                text-decoration: none;
                list-style: none;
                p{
                    color: white;
                    font-size: 18px;
                    padding: 5px;
                    text-align: center;
                    border-top: $dorado 2px solid;
                    border-bottom: $dorado 2px solid;
                }
                img{
                    &:hover{
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
    .formulario{
        width: auto;
        margin: 10px 50px 10px 50px;
        padding: 20px;
        border: $dorado 2px solid;
        border-radius: 10px;
    }
}